<form [formGroup]="AddUserForm" (ngSubmit)="signUp()">
  <div class="text-center">
    <label for="exampleInputEmail1" class="form-label" style="color: #f68b1e"
      >Name</label
    >
    <input
      formControlName="name"
      type="text"
      class="form-control"
      aria-describedby="emailHelp"
    />
  </div>

  <div class="text-center">
    <label for="exampleInputEmail1" class="form-label" style="color: #f68b1e"
      >Email address</label
    >
    <input
      formControlName="email"
      type="email"
      class="form-control"
      aria-describedby="emailHelp"
    />
  </div>

  <div class="text-center mb-4 position-relative">
    <label for="exampleInputPassword1" class="form-label" style="color: #f68b1e"
      >Password</label
    >
    <input
      formControlName="password"
      type="password"
      class="form-control"
      id="exampleInputPassword1"
    />
  </div>

  <button type="submit" class="btn btn-danger">Sign Up</button>
</form>
